<header>
<h1>{{ site.project.title }}</h1>
<p>{{ site.project.description }}</p>
<p class="view"><a href="https://github.com/{{ site.project.user }}/{{ site.project.name }}">View the Project on GitHub <small>{{ site.project.user }}/{{ site.project.name }}</small></a></p>
  <ul>
    <li><a href="https://github.com/{{ site.project.user }}/{{ site.project.name }}/zipball/master">Download <strong>ZIP File</strong></a></li>
    <li><a href="https://github.com/{{ site.project.user }}/{{ site.project.name }}/tarball/master">Download <strong>TAR Ball</strong></a></li>
    <li><a href="https://github.com/{{ site.project.user }}/{{ site.project.name }}">View On <strong>GitHub</strong></a></li>
  </ul>
</header>

